* {
    margin: 0;
    --color-blue-dark: #201b2c;
    --color-blue-green-ligth: #77ffc0;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #77ffc0;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.card-login {
    width: 60%; /* pega o tamanho da tag pai */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056; /* box-shadow: primeior: valor de x, segundo: valor de y, terceiro: o blur quarto: cor */
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* align-items: posionamento vertical */
    justify-content: center; /* justify-content: posionamento horizontal */
    margin: 10px 0;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056; /* box-shadow: primeior: valor de x, segundo: valor de y, terceiro: o blur quarto: cor */
    outline: none; /* outline: remove a caixa em volta das bordas */
    box-sizing: border-box; /* box-sizing: coloca tipo uma divisão entra a div filho e o pai */
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

/* ::placeholder: propriedade que paga o placeholder do campo do input */
.textfield > input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px; /* letter-spacing: espaçamento entre as palavras */
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052; /* box-shadow: primeior: valor de x, segundo: valor de y, terceiro: o blur quarto: spred e quarto: color */
}